%h1 Create new Article

#article-form
= form_with model: @article do |form|
  =form.label :title
  %br
  =form.text_field :title
  %br
  =form.label :content
  %br
  =form.text_area :content
  %br
  =form.label :author
  %br
  =form.text_field :author
  %br
  %br
  =form.submit

%br
= link_to 'Back', root_path
